{% extends 'base.html.twig' %}

{% block title %}Hello AppliController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Le chiffre aléatoire est {{ number }}</h1>

</div>
{% endblock %}